/*------------------------------------------
Box-sizing
------------------------------------------*/

html{
    box-sizing: border-box;
}
*,*:before,*:after{
    box-sizing: inherit;
}

/*------------------------------------------
Base
------------------------------------------*/

body{
    margin: 0;
    padding: 0;

    font-family: Roboto,sans-serif;

    background-color: white;

    font-size: 18px;

}

a{
    text-decoration: none;
}

.wrapper{
    max-width: 1080px;
    margin: 0 auto;
}

/*------------------------------------------
Mise en page
------------------------------------------*/

header{
    background-color: #f26c25;
    padding-top: 10px;
    padding-bottom: 10px;
}

header div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}